/* General */
body {
    width: 800px;
    margin: 0 auto;
}
main {
    background-image: url(Images/phone_globe.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
/* Typography */
/* block styling */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* Form styling */
/* Styling the products display */
img{
    width: 200px;
    height: 200px;
}
