/* Stylesheet for the invoice.html file */
/* Modified file based on w3Schools Bootstrap Online Store template */
/* Based on https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */

/**/
table {
    margin-left: auto;
    margin-right: auto;
}

/* Set style so rows have alternating colors */
tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: white;
}

th {
    background-color: dodgerblue;
    color: white;
}



/* Background */
body {
    background-color: beige;
    transform: scale(1);
    transform-origin: 0 0;
    text-align: center;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin and set a background image */
.jumbotron {
    margin-bottom: 0;
    background-image: url(../images/CosmicLatte.png);
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

