/* Stylesheet for store.html file */
/* Modified file based on w3Schools Bootstrap Online Store template */
/* https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_store&stacked=h */

/* Layout for products */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
/* Remove the jumbotron's default bottom margin and set a background image */
.jumbotron {
    margin-bottom: 0;
    background-image: url(../images/CosmicLatte.png);
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

/* Center text for purchase button */
h3 {
    text-align: center;
}